body{      background-color: #F9F7CF   ;
}

 /* THE NAVIGATION BAR */
.topnav {
float:right;
list-style-type:none;
margin:0;
padding:0;
overflow :hidden;
background-color:#af6b58;
text-align: center;
}
.topnav a{
width:auto;
overflow:auto;
}
/* Style the links inside the navigation bar */
.topnav a {
float: right;
display:inline-block;
list-style:none;
color:white;
padding: 20px 15px;
text-decoration: none;
}
/* Change the color of links on hover */
a:hover {
background-color:#fff3e2;
color:black;
}

/* THE LOGIN AND SIGNIN PAGES */

.previous{
float:right;
padding:50px;
  margin:130px;
}
.ba{
  background-image: url("pic50.JPG"); /*https://www.google.com.sa/search?safe=strict&sa=G&hl=ar&tbs=simg:CAQSrwIJOJM6TVl_1n6waowILELCMpwgaYgpgCAMSKJILjwvBCo0LkQvACosLjguKFfMW0zjJIuY-tyqbK5or0ji2KtEryiIaMBdl6yTzpEGiMISsPX63Syyjro_1ZXVnE0h41NORFaJW1pa756rJWjA2Z1ASNGUIBZCAEDAsQjq7-CBoKCggIARIEgqZA-AwLEJ3twQkamwEKHQoKY29tbWVyY2lhbNqliPYDCwoJL2ovZ3BzNGZjCiMKEW1ldHJvcG9saXRhbiBhcmVh2qWI9gMKCggvbS8wal9zNAocCgljaXR5c2NhcGXapYj2AwsKCS9tLzAzNHo3aAodCgp1cmJhbiBhcmVh2qWI9gMLCgkvbS8wMzlqYnEKGAoFbmlnaHTapYj2AwsKCS9tLzAxZDc0egw&q=%D8%B5%D9%88%D8%B1+%D8%AE%D9%84%D9%81%D9%8A%D8%A7%D8%AA+%D9%85%D8%AF%D9%86&tbm=isch&ved=2ahUKEwiPsfak76TtAhUFNOwKHZXyDs4Qwg4oAHoECBAQMA*/
  background-size:cover;
}

/* HOME PAGE  : FOR THE IMAGES */
  .mySlides1{
	  display: none
	  }
  img {
	  vertical-align: middle;
  }

  /* Slideshow container */
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }

  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
.pre, .nex {
    cursor: pointer;
    position:relative;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: #7B7D7D ;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
 .nex {
	  bottom:0;
    left: 0;
    border-radius: 3px 0 0 3px;
}
.pre{
    left:0;
    border-radius: 3px 0 0 3px;
  }
  .previous{
	  cursor: pointer;
    position: absolute;
	  width: auto;
    padding: 16px;
	   color: #7B7D7D ;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .previous{
    right:0;
    border-radius: 3px 0 0 3px;
  }
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 4px 0 0 2px;
  }

  /* On hover, add a grey background color */
  .prev:hover, .next:hover {
    background-color: #f1f1f1;
    color: black;
  }


  /* On hover, add a grey background color */
  .pre:hover, .nex:hover , .previous:hover {
    background-color: #f1f1f1;
    color: black;
  }

/* TOUREST PAGE */
  .side{
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  top: 33px;
  left: 20px;
  font-size: 18px;
    width: 320px;
    height: 150px;
    background-color: #F7e7bd;
    text-align: center;
  }
  .side a:hover{
    color: black;
  }
   .tou h3{
      color:#af6b58;
      font-weight: bolder;
    }
  /* BOX IN LOGIN AND SIGNIN PAGES */
.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
   padding: 40px ;
    background: rgba(0,0,0,.8) ;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.5);
    border-radius: 10px ;

}

.box h2{
    color: #fff;
    margin: 0 0 30px;
    padding: 0;
    text-align: center;

}

.box .inputBox{
    position: relative ;
}
.box .inputBox input{
    width: 100%;
    padding:  10px 0 ;
    font-size: 16px;
    color: #fff;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid orange;
    outline: none;
    background: transparent ;


}
.box .inputBox label{
    position: absolute;
    top: 0;
    left: 0;
    letter-spacing: 1px;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: 1.4s;

}


.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label{
    top: -18px;
    left: 0;
    color: #03a9f4;
    font-size: 12px;
}

.box input[type="submit"]{

    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    background:  orange;;
    padding: 10px 20px ;
    cursor: pointer;
    border-radius: 10px ;

}
/* THE FIRST PAGE */
.R{
    background-color: #c6b497;
  background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Rio.JPG"); /*  https://www.google.com.sa/search?safe=strict&sa=G&hl=ar-SA&tbs=simg:CAQSvQIJY7oE4VVOZD8asQILELCMpwgaYgpgCAMSKMAKjQuBFcEKgBX9FJIL4xaIBIoL0zjmPtI4miu3KskimyvKIrYqzCIaMBeSnr7SPIHA6A_1VcGBbMUKU4lDB9Lrn46pgW-oleIC_1Vma2qMmJ8AiSNMxYT9b17SAEDAsQjq7-CBoKCggIARIEtlx9mwwLEJ3twQkaqQEKHQoKY29tbWVyY2lhbNqliPYDCwoJL2ovZ3BzNGZjCiMKEW1ldHJvcG9saXRhbiBhcmVh2qWI9gMKCggvbS8wal9zNAocCgljaXR5c2NhcGXapYj2AwsKCS9tLzAzNHo3aAodCgp1cmJhbiBhcmVh2qWI9gMLCgkvbS8wMzlqYnEKJgoScmVkIHNreSBhdCBtb3JuaW5n2qWI9gMMCgovbS8wODBkazJoDA&q=%D9%85%D8%AF%D9%8A%D9%86%D8%A9+%D8%A7%D9%84%D8%B1%D9%8A%D8%A7%D8%B6&tbm=isch&ved=2ahUKEwiL-vHI76TtAhXNzKQKHb-6AQgQwg4oAHoECBAQMA*/
  background-size: cover;
  background-position: center;
  height: 100vh;
}
    .R h1{
        text-align:center;
        color:#c6b497;
        font-weight:bolder;
      }
 .R h2{
  color:#cbaf87;
  font-weight:bolder;
    text-align:center;
}
.video{
    text-align:center;
}


/* RIO PAGE */
.dropdown {
  position: relative;
  display: inline-block; }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {  display: block; }

.desc {
  padding: 10px;
  text-align:center;
  display: block;
}

.fas {
  font-size: 20px;
width: 1000px;
height: 600px;
position: relative;
left: 200px;

}
/* CITIES PAGE */
.Riyadh{
background-image:url("pic.jpg"); /*https://www.google.com.sa/search?safe=strict&sa=G&hl=ar-SA&tbs=simg:CAQSoQIJ8d9iP4c5apYalQILELCMpwgaYQpfCAMSJ9kCSdIC4AK5E9cC9wLCB-ICiwjmKuk-4yrhKoY3hDnuIsoiliviPxowg1uCZMBs4MS2Cg2hjCsCILPujdmtZUrnWnjiT5QS-Jcem2o3xxZGtCvDjC9QGoUlIAQMCxCOrv4IGgoKCAgBEgQIxm6DDAsQne3BCRqOAQobCgh2ZXJ0aWNhbNqliPYDCwoJL2EvNGhoM3AwChwKCWNpdHlzY2FwZdqliPYDCwoJL20vMDM0ejdoChoKB3N0ZWVwbGXapYj2AwsKCS9tLzA1MXJtbQoUCgNhcnTapYj2AwkKBy9tLzBqancKHwoMYXJjaGl0ZWN0dXJl2qWI9gMLCgkvbS8wM25mbXEM&q=saudi+tourist+and+travels+visa&tbm=isch&ved=2ahUKEwjj57ba76TtAhVR3aQKHecODeMQwg4oAHoECBAQMA*/
background-repeat:repeat-x;

}
.chose{
padding:50px;
font-weight:bold;
font-size:50px;
text-align: center;
}

.cities{
word-spacing:10px;
font-size:30px;
text-align: center;

}
.col-sm-8{
  text-align:right;
}
.col-sm-4{
  font-size:25px;
}
/*HOME PAGE */
 .H{
      background:#F9F7CF;
  }
 .SA{

  }

  .Em{
 float:right;
 font-size:20px;
 font-weight:bolder;

  }
  .E{
	 float:right;
  }
 .search-form{
  margin-top: 15px;
  float:left;
  margin-left:100px;
}
input[type="text"]{
  padding: 7px;
  border:none;
  font-size: 16px;
  font-family: sans-serif;
}
  clock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #17D4FE;
    font-size: 60px;
    font-family: Orbitron;
    letter-spacing: 7px;
}
  .slideshow-container{box-sizing: border-box}

table, th, td {
border: 1px solid black;
border-collapse: collapse;
background-color: #f1f1c1 ;
}
table, th, td {
  border: 2px solid black;
  font-size: 20px;
  text-align: center;
}
th, td {
  padding: 10px;
}
table {
  border-spacing: 5px;
}
.desc{
  text-align: center;
}
.dropdown{
  text-align: center;
}
.mus {
    text-align: center;
}
.fas{
  text-align: center;
}
.tou{
text-align: center;
}
.tabb{
text-align: center;  
}
