
body{      background-color: #F2F4F4   ;
}

 /* THE NAVIGATION BAR */
.topnav {
float:right
}
.topnav a{
width:auto;
overflow:auto;
}
/* Style the links inside the navigation bar */
.topnav a {
float: right;
display:inline-block;
list-style:none;
color:#E6B0AA ;
padding: 5px 15px;
text-decoration: none;
font-size: 25px;
}
/* Change the color of links on hover */
a:hover {
background-color:#addd;
color:black;
}

/* THE LOGIN AND SIGNIN PAGES */
.ri{
   position: relative;
   right: -620px; }
}
.next{
float:left;
  padding:50px;
  margin:130px;
}
.previous{
float:right;
padding:50px;
  margin:130px;
}
.ba{
  background-image: url("background.JPG");
  background-size:cover;
}
  .mySlides1{display: none}
  img {vertical-align: middle;}

  /* Slideshow container */
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }

  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a grey background color */
  .prev:hover, .next:hover {
    background-color: #f1f1f1;
    color: black;
  }
.pre, .nex {
    cursor: pointer;
    position:relative;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: #7B7D7D ;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
 .nex {
	  bottom:0;
    left: 0;
    border-radius: 3px 0 0 3px;
}
.pre{
    left:0;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a grey background color */
  .pre:hover, .nex:hover , .previous:hover {
    background-color: #f1f1f1;
    color: black;
  }
  .previous{
	  cursor: pointer;
    position: absolute;
	  width: auto;
    padding: 16px;
	   color: #7B7D7D ;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .previous{
    right:0;
    border-radius: 3px 0 0 3px;
  }

  .side{
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  top: 33px;
  left: 20px;
  font-size: 18px;
    width: 320px;
    height: 150px;
    background-color: #FAF5FC;
  }
  .side a:hover{
    color: black;
  }
.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
   padding: 40px ;
    background: rgba(0,0,0,.8) ;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.5);
    border-radius: 10px ;

}

.box h2{
    color: #fff;
    margin: 0 0 30px;
    padding: 0;
    text-align: center;

}

.box .inputBox{
    position: relative ;
}
.box .inputBox input{
    width: 100%;
    padding:  10px 0 ;
    font-size: 16px;
    color: #fff;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid orange;
    outline: none;
    background: transparent ;


}
.box .inputBox label{
    position: absolute;
    top: 0;
    left: 0;
    letter-spacing: 1px;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: 1.4s;

}


.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label{
    top: -18px;
    left: 0;
    color: #03a9f4;
    font-size: 12px;
}

.box input[type="submit"]{

    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    background:  orange;;
    padding: 10px 20px ;
    cursor: pointer;
    border-radius: 10px ;

}

