body{      background-color: #F9F7CF   ;
}

 /* THE NAVIGATION BAR */
.topnav {
float:right;
list-style-type:none;
margin:0;
padding:0;
overflow :hidden;
background-color:#af6b58;
}
.topnav a{
width:auto;
overflow:auto;
}
/* Style the links inside the navigation bar */
.topnav a {
float: right;
display:inline-block;
list-style:none;
color:white;
padding: 20px 15px;
text-decoration: none;
font-size: 20px;
}
/* Change the color of links on hover */
a:hover {
background-color:#fff3e2;
color:black;
}

/* THE LOGIN AND SIGNIN PAGES */

.previous{
float:right;
padding:50px;
  margin:130px;
}
.ba{
  background-image: url("pic50.JPG");
  background-size:cover;
}

/* HOME PAGE  : FOR THE IMAGES */
  .mySlides1{display: none}
  img {vertical-align: middle;}

  /* Slideshow container */
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }

  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
.pre, .nex {
    cursor: pointer;
    position:relative;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: #7B7D7D ;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
 .nex {
	  bottom:0;
    left: 0;
    border-radius: 3px 0 0 3px;
}
.pre{
    left:0;
    border-radius: 3px 0 0 3px;
  }
  .previous{
	  cursor: pointer;
    position: absolute;
	  width: auto;
    padding: 16px;
	   color: #7B7D7D ;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .previous{
    right:0;
    border-radius: 3px 0 0 3px;
  }
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 4px 0 0 2px;
  }

  /* On hover, add a grey background color */
  .prev:hover, .next:hover {
    background-color: #f1f1f1;
    color: black;
  }


  /* On hover, add a grey background color */
  .pre:hover, .nex:hover , .previous:hover {
    background-color: #f1f1f1;
    color: black;
  }

/* TOUREST PAGE */
  .side{
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  top: 33px;
  left: 20px;
  font-size: 18px;
    width: 320px;
    height: 150px;
    background-color: #F7e7bd;
  }
  .side a:hover{
    color: black;
  }
   .tou {
      font-size: 20px;
    background-color: #F2dcbd ;
    width: 1000px;
    height: 3500px;
    position: relative;
    left: 200px; }
   .tou h3{
      color:#af6b58;
      font-weight: bolder;
    }
  /* BOX IN LOGIN AND SIGNIN PAGES */
.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
   padding: 40px ;
    background: rgba(0,0,0,.8) ;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.5);
    border-radius: 10px ;

}

.box h2{
    color: #fff;
    margin: 0 0 30px;
    padding: 0;
    text-align: center;

}

.box .inputBox{
    position: relative ;
}
.box .inputBox input{
    width: 100%;
    padding:  10px 0 ;
    font-size: 16px;
    color: #fff;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid orange;
    outline: none;
    background: transparent ;


}
.box .inputBox label{
    position: absolute;
    top: 0;
    left: 0;
    letter-spacing: 1px;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: 1.4s;

}


.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label{
    top: -18px;
    left: 0;
    color: #03a9f4;
    font-size: 12px;
}

.box input[type="submit"]{

    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    background:  orange;;
    padding: 10px 20px ;
    cursor: pointer;
    border-radius: 10px ;

}
/* THE FIRST PAGE */
.R{
    background-color: #c6b497;
  background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Rio.JPG");
  background-size: cover;
  background-position: center;
  height: 100vh;
}
    .R h1{
        text-align:center;
        color:#c6b497;
        font-weight:bolder;
      }
 .R h2{
  color:#cbaf87;
  font-weight:bolder;
}
/* RIO PAGE */
.dropdown {
  position: relative;
  display: inline-block; }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {  display: block; }

.desc {
  padding: 10px;
  text-align:center;
  display: block;
}

.fas {
  font-size: 20px;
width: 1000px;
height: 600px;
position: relative;
left: 200px;

}
/* CITIES PAGE */
.Riyadh{
background-image:url("photo11.jpg");
background-repeat:repeat-x;
background-size:500px 200px;
}
.chose{
padding:50px;
margin:130px;
font-weight:bold;
font-size:50px;

}
.cities{
word-spacing:10px;
font-size:30px;
}
/*HOME PAGE */
 .H{
      background:#F9F7CF;
  }
 .SA{
   float:right;
  }
  .Em{
 float:right;
 font-size:20px;
 font-weight:bolder;

  }
 .search-form{
  margin-top: 15px;
  float:left;
  margin-left:100px;
}
input[type="text"]{
  padding: 7px;
  border:none;
  font-size: 16px;
  font-family: sans-serif;
}
.H button{
  float: right;
  background:orange;
  color:white;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  position:relative;
  padding:7px;
  font-family: sans-serif;
  border:none;
  font-size: 16px;
}
  clock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #17D4FE;
    font-size: 60px;
    font-family: Orbitron;
    letter-spacing: 7px;
}
  .slideshow-container{box-sizing: border-box}
